.classe1 {background-color: rgb(0, 0, 0);}

.classe{
    margin: 0;
}

.classe2{
    margin-left: 50px;
}

.classe3{
    margin-top: 50px;
}

.classe4{
    color: antiquewhite;
}

a{
    color: yellow;
}

.classe5{
    background-color: rgb(47, 25, 110);
}